header {
  background: #ffcd0e;
  height: 150px;
  border-bottom: 20px solid #122f17;
}


.stat-block {
  border-bottom: 5px solid #ffcd0e;
  background: linear-gradient(-45deg, #ffcd0e26 0%, #fff 100%);
  color: #112f17;
  display: flex;
  width: 100%;

  flex-flow: wrap;
  .level {
    flex:0;
    display: flex;
    padding: 15px;


    & > *{
      margin: 15px;
      flex:1;
    }

    .line-bg {
      background: #112f17;
      position: relative;
      width: 100px;
      border-radius: 5px;
      .line {
        background: #ffcd00;
        position: absolute;
        bottom:0;
        width: 100%;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;

      }
    }
    .labels {
      display: flex;
      flex-flow: column;
      span {
        flex: 1;
        white-space: nowrap;
      }
    }
  }

  .achievements {
    flex: 1;
    padding: 30px;

    .highlighted {
      color: #112f17;
      font-weight: 600;
      padding: 5px 15px;
      background: #fff;
      border-radius: 10px;
      box-shadow: 2px 2px 16px -6px;
    }
  }
}
