
<app-main-layout>

  <header>

  </header>

  <div class="stat-block">
    <div class="level">
      <div class="line-bg">
        <div class="line" [style.height.%]="knownWordPercentage"></div>
      </div>
      <div class="labels">
          <span> - C2</span>
          <span> - C1</span>
          <span> - B2</span>
          <span> - B1</span>
          <span> - A2</span>
          <span> - A1</span>
          <span> - Give your bests! </span>
          <span> - You really know some words! </span>
          <span> - Keep practicing!</span>
          <span> - Well done!</span>
          <span> - I see, you can not give up.</span>
          <span> - Make your dreams come true!</span>
      </div>
    </div>
    <div class="achievements">
      <h1>You have learnt <span class="highlighted">{{knownWordCount}}</span> words! That's awesome!</h1>
      <p>
        Keep achiveing more!
      </p>
    </div>
  </div>
</app-main-layout>
