<div class="user-box" *ngIf="currentUser">
  {{currentUser.name}}
  <a [routerLink]="'/user-stats'"><i class="fas fa-info-circle"></i></a>
  <a href="" (click)="logOut()"><i class="fas fa-sign-out-alt"></i></a>
</div>
<a *ngIf="!currentUser" href="" routerLink="/login">
  <div class="user-box">
    Sign in
  </div>
</a>

