.user-box{
    border-radius:9px;
    padding:11px 30px;
    background: #eee;
    position: fixed;
    top:30px;
    right:30px;
}

.user-box a {
  text-decoration: none;
  color: #000000;
}

.user-box i {
  margin: 0 3px;
}
