<app-main-layout>
  <div class="content">
    <form [formGroup]="loginForm" (ngSubmit)="loginForm.valid && login()">
      <mat-card class="login-card">
        <mat-card-header>
          <mat-card-title>Login</mat-card-title>
        </mat-card-header>
        <mat-card-content>
              <mat-form-field>
                <input id="email" matInput formControlName="email" [(ngModel)]="user.email" placeholder="Email">
              </mat-form-field>
              <mat-form-field>
                <input id="password" matInput formControlName="password" [(ngModel)]="user.password" placeholder="Password" [type]="hide ? 'password' : 'text'">
                <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                <mat-hint>Min 6 character!</mat-hint>
              </mat-form-field>
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button color="primary" type="submit" [disabled]="!loginForm.valid">Login</button>
          <button mat-raised-button color="accent" routerLink="/register">Register</button>
        </mat-card-actions>
      </mat-card>
    </form>
  </div>
</app-main-layout>
