
input.paste {
    display: block;
    margin:5%;
    width: 90%;
    padding:30px;
}

.word-container, .translation-container{
  width: 90%;
  margin: 5%;
}

.word,.translation {
  text-decoration: none;
  color: #000000;
  display: inline-block;
  margin-right: 3px;
}

.word:last-child, .translation:last-child {
  margin-right: 0;
}

.word:hover {
  background: rgba(0,0,0,0.2);
  cursor: pointer;
}

.visited {
  background: rgba(0,127,0,0.38);
}

.translation:after {
  content: ',';
 }
.translation:last-child:after {
  content: '';
}


section.translator {
  display: flex;

  article {
    flex: 3;
  }

  section.translation {
    flex: 1;
  }
}
