<input type="text" class="paste" placeholder="place your text here" [formControl]="text" (paste)="onPaste($event)" >
<section class="translator">

  <article>
    <div class="word-container">
      <div *ngFor="let line of words">
          <div *ngFor="let word of line" class="word" (click)="translateWord($event)">
              {{ word }}
          </div>
          <br>
      </div>
    </div>
  </article>

  <section class="translation">
    <div class="translation-container" *ngIf="haveTranslation">
      <h2>Jelentése:</h2>
      <div *ngFor="let translation of translations" class="translation">{{translation.translation}}</div>
    </div>
  </section>

</section>
