/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
body, html {
    height:100%;
}


.my-success-snack-bar {
  background-color: #4BB543;
  color: #ffffff;
}
.my-warning-snack-bar {
  background-color: #ffc107;
  color: #ffffff;
}
.my-error-snack-bar {
  background-color: #db3545;
  color: #ffffff;
}
.mat-simple-snackbar-action {
  color: white;
}
