header {
  background: #860eff;
  height: 120px;
}

#Progress {
    width: 100%;
    background-color: #3f005f2c;
}
#Bar {
    width: 1%;
    height: 20px;
    background-color: #3f005f;
}
.answer, .correct{
    margin: 10px 10px;
    padding: 10px 16px;
    width: 700px;
    background-color: #e25651;
}
.correct{
    background-color: #e0d5e4;
}
.btn, .btnSub {
    border: none;
    outline: none;
    margin: 6px 6px;
    padding: 10px 16px;
    background-color: #e0d5e4;
    cursor: pointer;
    font-size: 18px;
}
.active,.btn:hover, .btnSub:hover{
    background-color: #8634fe;
    color: white;
}
.filled {
    background-color: #8634fe;
}
.btnSub{
    margin: 10px 20px;
}
.def{
    font-size: 50px;
}
div.scrollbuttons {
    overflow: auto;
    white-space: nowrap;
}

div.scrollbuttons button{
    display: inline-block;
    text-align: center;
    text-decoration: none;
}
textarea{
    font-size: 25px;
    width: 100%;
    height: 200px;
}
.ended{
    margin: 10px 25px;
}
.ended a{
    color: #8634fe;
}

.exercise {
  padding: 30px;
}
