<app-main-layout>
  <header>

  </header>

  <div id="Progress">
    <div id="Bar" [style.width.%]="barProgress"></div>
  </div>

  <div class="exercise">

    <div *ngIf="!checkingResults; else elseBlock">
      <div *ngIf="unknownWordsArray.length == 0">
        <h1 class="ended">Illessz be egy szöveget <a href="" [routerLink]="['/home']">itt</a>, majd válassz ki
          szavakat,
          és kikérdezzük tőled</h1>
      </div>
      <div class="scrollbuttons" id="myDIV">
        <button class="btn" *ngFor="let word of unknownWordsArray; index as i" [class.active]="word === selectedWord"
          [class.filled]="word.answer" (click)="checkFill()" (click)="onSelect(word)">
          {{i+1}}
        </button>
      </div>
      <div *ngIf="selectedWord">
        <h2 class="def">"{{selectedWord.word}}" jelentése:</h2>
        <textarea [(ngModel)]="selectedWord.answer" (keyup.enter)="onNext(selectedWord)" (keyup.enter)="checkFill()">{{selectedWord.answer}}</textarea>
      </div>
      <div *ngIf="unknownWordsArray.length != 0">
        <button class="btnSub" (click)="onNext(selectedWord)">Következő</button>
        <button class="btnSub" (click)="checkResults()">Ellenőrzés</button>
      </div>
    </div>

    <ng-template #elseBlock>
      <h1> Helyes válaszok {{unknownWordsArray.length}}/{{ correctAnswers }}</h1>
      <div *ngFor="let word of unknownWordsArray; index as i" class="answer" [class.correct]="word.correct">
        <div *ngIf="word.correct; else elseBlock">
          <h1>{{word.word}}: Helyes válasz!</h1>
          <h4>A te válaszod:</h4>
          <h5>{{word.answer}}</h5>
        </div>
        <ng-template #elseBlock>
          <h3>{{word.word}} {{ word.answer ? 'Helytelen válasz' : 'Nem adtál választ'}} </h3>
          <h4>Jelentése:</h4>
          <h5>{{word.translation}}</h5>
          <h4>{{ word.answer ? 'A te válaszod' : ''}}</h4>
          <h5>{{word.answer}}</h5>
        </ng-template>

      </div>
      <div>
        <button class="btnSub" (click)="restart()"> {{ noMore ? 'Vissza' : 'Újrakezdés'}}</button>
      </div>
    </ng-template>
  </div>

</app-main-layout>
