<div class="main-layout">
    <div class="menuBar">
        <app-nav-bar></app-nav-bar>
    </div>
    <div class="content">
        <app-user-box></app-user-box>
        <ng-content></ng-content>
    </div>
</div>