.main-layout {
    display: flex;
    height: 100%;


    .menuBar {
        flex:0;
        background: #eee;
        position: relative;

        box-shadow: 5px 0 30px #0000001f;
    }

    .content {
        flex: 1;
    }

}

