<app-main-layout>
  <div class="content">
    <form [formGroup]="RegisterForm" (ngSubmit)="RegisterForm.valid && register()">
      <mat-card class="login-card">
        <mat-card-header>
          <mat-card-title>Register</mat-card-title>
          <mat-card-subtitle *ngIf="" class="alert alert-danger">Invalid username and/or password!</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <mat-form-field>
            <input id="name" matInput formControlName="name" [(ngModel)]="user.name" placeholder="Name">
          </mat-form-field>
          <mat-form-field>
            <input id="email" matInput formControlName="email" [(ngModel)]="user.email" placeholder="Email">
          </mat-form-field>
          <mat-form-field>
            <input id="password" matInput formControlName="password" [(ngModel)]="user.password" placeholder="Password" [type]="hide ? 'password' : 'text'">
            <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            <mat-hint>Min 6 character!</mat-hint>
          </mat-form-field>
          <mat-form-field>
            <input id="password_confirmation" matInput formControlName="password_confirmation" [(ngModel)]="user.password_confirmation" placeholder="Confirm Your password" [type]="hide ? 'password' : 'text'">
          </mat-form-field>
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button color="primary" type="submit" [disabled]="!RegisterForm.valid" routerLink="/register">Register</button>
          <button mat-raised-button color="accent"  routerLink="/login">Login</button>
        </mat-card-actions>
      </mat-card>
    </form>
  </div>
</app-main-layout>
