<nav>
    <a href="" [routerLink]="['/dashboard']">
        <i class="fas fa-home"></i>
        <div class="menu-label">
            Home
        </div>
    </a>
    <a href="" [routerLink]="['/home']">
        <i class="fas fa-paste"></i>
        <div class="menu-label">
            Paste text
        </div>
    </a>
    <a href="" [routerLink]="['/exercise']">
        <i class="fas fa-book-open"></i>
        <div class="menu-label">Test your knowledge</div>
    </a>
    <a href="" [routerLink]="['/statistics']">
        <i class="fas fa-chart-line"></i>
        <div class="menu-label">Statistics</div>
    </a>
</nav>