nav {

    text-align: center;
    a {
        padding: 15px 15px 0 15px;
        display: block;
        margin: auto;
        font-size: 45px;

        &:link, &:active, &:visited {
            color:#122f17;
        }

        &:hover{
            color: orangered;
        }


        .menu-label {
          display: block;
          opacity: 0;
          position: absolute;
          width: 0;
          font-size: 18px;
          color: #000;
          background: #eee;
          padding: 5px 10px;
          border-radius: 9px;
          margin-top: -49px;
          transition: opacity 0.5s, margin-left 0.5s;
        }

        &:hover .menu-label {
            margin-left: 55px;
            z-index: 10;
            opacity: 1;
            display: block;
            width: 150px;
        }




    }


}
