body, html {
    height: 100%;
    background-color: #eeeeee;
}

section {
  display: flex;
  height: 100%;
  flex-flow: column;

  header{
    background: #ff7b00;
    display: block;
    height: 150px;
    border-bottom: 20px solid #122f17;
  }

  article {
    flex:1;
    overflow: auto;
    height: 100%;
    margin-right: -15px;
  }
}

.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
  z-index: 0;
}
.embed-container iframe, .embed-container object, .embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.parallax {
    /* Full height */
    height: 80%;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.image1{
    background-image: url('./img/laptop_work.jpg');
}
.image2{
    background-image: url('./img/blurry_laptop.jpg');
}
.image3{
    background-image: url('./img/learning.jpg');
}
.image4{
    background-image: url('./img/learning_kiemelt.jpg');
}
.content {
    padding: 15px 30px;
    background-color: #112f17;
    color: #eeeeee;
    font-size:24px;
    text-align: justify;
}
