<app-main-layout>
  <section>
    <header>
    </header>
    <article>
      <div class='embed-container'>
        <iframe src="https://www.youtube.com/embed/o5cJwTWXqPE?autoplay=1&showinfo=0&mute=1"
          frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
      <!--<div class="parallax image3"></div>-->
      <div class="content">
        Magyarországon sokan küszködnek az idegen nyelv tanulásával. Más országok nyelvei sokkal idegenebbek nekünk. A
        magyar nyelv logikája, szókincse teljesen eltér a többi európai nyelvtől, ezért számunkra sokkal több időt és
        energiát igényel a nyelvtanulást.
      </div>
      <div class="parallax image2"></div>
      <div class="content">
        Az általunk létdehozott webes applikáció célja, hogy megkönnyítsük illetve meggyorsítjuk a nyelvtanulást. A
        nyelvek alapjáig nem olyan nehéz eljutni, alapok lefektetése után jön a szókincs növelése.
      </div>
      <div class="parallax image4"></div>
      <div class="content">
        iKnowThatWord, csak egy szöveget igényel, amit egyszerűen beillesztünk egy szövegdobozba, mindezt egy
        felhasználóbarát oldalon keresztül.
        Természetesen rendelkezésre állunk néhány példa tanulószöveggel is. A beillesztett szöveget megformázva újra
        megjelenítjük. Szavakat kijelölhetjük,
        hogy megnézzük a pontos definícióját, majd később a kijelölt szavakat a szoftver kikérdezi.
      </div>
      <div class="parallax image1"></div>

    </article>
  </section>
</app-main-layout>
