<app-main-layout>
    <header>

    </header>
    <h1>The hardest words</h1>
    <div style="overflow-x:auto;">
        <table>
            <tr *ngFor="let stat of top_three_hardest_words;  index as i">
                <h2>{{i+1}}. {{stat.word}}</h2>                
                <p>is unknown <b>{{stat.unknown_count}}</b> times, but <b>{{stat.known_count}}</b> already learnt it</p>
            </tr>
            <tr *ngFor="let stat of hardest_words;  index as i">
                <td>
                    <p class="simple">{{ i + 4}}. {{stat.word}}</p>
                </td>
            </tr>
        </table>
    </div>
    <!-- <table>
        <tr *ngFor="let stat of knownAtFirstData">
            <td><h3>{{stat.word}} {{stat.known_count}}</h3></td>
        </tr>
    </table>
    
    <table>
        <tr *ngFor="let stat of learnedData">
            <td><h3>{{stat.word}} {{stat.asked_count}}</h3></td>
        </tr>
    </table>
    <div class="column">
        <div class="boxL">
            <canvas id="knownAtFirstChart"></canvas>
        </div>
        <div class="boxR">
            
        </div>
    </div>
    <div class="column">
        <div class="boxL">
            
        </div>
        <div class="boxR">
            <canvas id="unknownAtFirstChart"></canvas>
        </div>

    </div>
    <div class="column">
        <div class="boxL">
            <canvas id="learnedChart"></canvas>
        </div>
        <div class="boxR">
            
        </div>
    </div>     -->
</app-main-layout>