header{
    background: #00800a;
    display: block;
    height: 150px;
    border-bottom: 20px solid #122f17;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  padding: 30px;
  // border: 2px solid #122f17;
}
p{
  font-size: 30px;
  padding-left: 125px;
  font-family: 'Fredoka One', cursive;
  color: #00800a;
}
h1{
  font-size: 60px;
  text-align: center;
  padding: 20px;
}
h1,h2{
  font-family: 'Fredoka One', cursive;
  padding-left: 80px;
  color: #122f17;
}
h2{
  font-weight: 700;
}
.simple{
  padding-left: 80px;
  color: #122f17;
}
th, td {
  text-align: left;
}
th {
  background-color: #122f17;
  color: white;
}
// div{
//   padding: 100px;
// }